/* Importamos Tailwind para poder usarlo en la página. */
@import "tailwindcss";

@layer components {
    .h1 {
        @apply mb-4 text-3xl;
        /* margin-bottom: 1rem;
        font-size: 1.875rem;
        line-height: calc(2.25 / 1.875rem); */
    }
}

/* html, body, #app {
    height: 100%;
}

#app {
    display: grid;
    grid-template-rows: 60px 1fr 100px;
} */